/* utility classes */
.round-img {
    width: 80px;
    border-radius: 50%;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

i {
    color: rgb(177, 177, 177);
    font-size: 20px;
    margin: 5px 10px;
}

h5 {
    margin-bottom: 0;
}

.text-custom {
    color: #888;
    font-size: 14px;
    font-weight: 600;
}
/* End utility */

body {
    background: linear-gradient(to top, rgb(215, 219, 216) 80%, rgb(66, 147, 136) 0%);
    height: 100vh;
}

.main-container {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Aside Menu */
.aside-menu {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(214, 214, 214);
    height: calc(100vh - 48px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Info User --> Aside Menu */
.info-user {
    background-color: rgb(234, 234, 234);
    padding: 12px;
}

.name-user {
    flex-basis: 50%;
    flex-grow: 1;
}

/* Notifications --> Aside Menu */
.notifications {
    background-color: rgb(159, 216, 248);
    padding: 12px;
}

.notifications > i {
    background-color: white;
    color: rgb(159, 216, 248);
    padding: 15px 10px;
    border-radius: 50%;
    font-size: 20px;
}

.notifications .text-custom {
    text-decoration: underline;
}

/* Search/Input --> Aside Menu */
.search-container {
    background-color: white;
    margin: 8px;
    padding: 5px;
    padding-left: 10px;
    display: flex;
}

.search-container input {
    flex-basis: 50%;
    flex-grow: 1;
}

/* Contacts List --> Aside Menu */
.contacts-container{
    background-color: white;
    flex-basis: 50%;
    flex-grow: 1;
    overflow: auto;

}

.contact-content {
    border-bottom: 2px solid rgb(250, 250, 250);
    padding: 12px 18px;   
    display: flex; 
    align-items: flex-start;
}

.contact-content h5 {
    margin-left: 24px;
}

.last-msg-info {
    font-size: 13px;
    margin-left: 24px;

}

/* Main Menu */
.main-menu {
    background-color: rgb(234, 234, 234);
    border: 1px solid rgb(214, 214, 214);
    border-right: none;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);
    overflow: hidden;
}

/* Info Contact --> Main Menu */
.info-contact {
    padding: 12px;
}

.info-contact-content {
    flex-basis: 50%;
    flex-grow: 1;
    padding-left: 24px;
}

/* Chat --> Main Menu */
.chat {
    flex-basis: 50%;
    flex-grow: 1;
    background-image: url("../img/mine.jpg");
    overflow-y: auto;
    overflow-x: hidden;
}

.chat .sent,
.chat .received {
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    margin: 6px;
}

.chat .sent {
    background-color:lightgreen;
}

.chat .received {
    background-color: white;
}

.data-msg {
    font-size: 10px;
    text-align: end;
}
.mgs-container-sent {
    display: flex;
    justify-content: flex-end;
}
.fas.fa-chevron-down {
    font-size: 15px;

}
.options-container{
    position: relative;
}
.msg-options-right,
.msg-options-left {
    position: absolute;
    background-color: white;
    width: 130px;
    font-size: 15px;
    color: #555;
    border-radius: 3px;
    box-shadow: 0 2px 5px #999;  
    z-index: 1001;  
}
.msg-options-right {
    right: 0;
}
.msg-options-left {
    left:0;
}
[class*="msg-options"] div {
    padding: 5px 10px;
}



/* Input & Icons   --> Main Menu */
.input-msg-container i {
    padding: 15px;
    font-size: 25px;
    color: rgb(108, 115, 118);
}

.input-msg {
    flex-basis: 50%;
    flex-grow: 1;
    margin: 10px 0;
    border-radius: 5px;
    padding-left: 15px;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightslategray; 
  }
