/* utility classes */
.round-img {
    width: 80px;
    border-radius: 50%;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

i {
    color: rgb(177, 177, 177);
    font-size: 20px;
    margin: 5px 10px;
}
/* End utility */

body {
    background: linear-gradient(to top, rgb(215, 219, 216) 85%, rgb(66, 147, 136) 0%);
}

.main-container {
    padding-top: 24px;
    padding-bottom: 24px;
}
/* Aside Menu */
.aside-menu {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(214, 214, 214);
    height: 800px;
    display: flex;
    flex-direction: column;
}

/* Info User --> Aside Menu */
.info-user {
    background-color: rgb(234, 234, 234);
    padding: 12px;
}

.name-user {
    flex-basis: 50%;
    flex-grow: 1;
}

/* Notifications --> Aside Menu */
.notifications {
    background-color: rgb(159, 216, 248);
    padding: 12px;
}

.notifications > i {
    background-color: white;
    color: rgb(159, 216, 248);
    padding: 15px 10px;
    border-radius: 50%;
    font-size: 20px;
}

/* Search/Input --> Aside Menu */
.search-container {
    background-color: white;
    margin: 8px;
    padding: 5px;
    padding-left: 10px;
}

/* Contacts List --> Aside Menu */
.contacts-container{
    margin-right: 18px;
    background-color: white;
    flex-basis: 50%;
    flex-grow: 1;
    box-shadow: 1px 0 2px rgb(214, 214, 214);

}
.contact-content {
    border-bottom: 2px solid rgb(250, 250, 250);
    padding: 12px 18px;    
}

/* Main Menu */
.main-menu {
    background-color: rgb(234, 234, 234);
    border: 1px solid rgb(214, 214, 214);
    border-right: none;
    display: flex;
    flex-direction: column;
    height: 800px;
}

/* Info Contact --> Main Menu */
.info-contact {
    padding: 12px;

}
.info-contact-content {
    flex-basis: 50%;
    flex-grow: 1;
}

/* Chat --> Main Menu */
.chat {
    flex-basis: 50%;
    flex-grow: 1;
    background-image: url("../img/mine.jpg");
    border-right: 12px solid white;
}
.chat .send,
.chat .received {
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    margin: 6px;
}
.chat .send {
    background-color:lightgreen;

}
.chat .received {
    background-color: white;
}
.mgs-container-send {
    display: flex;
    justify-content: flex-end;
}

/* Input & Icons   --> Main Menu */
.input-msg-container i {
    padding: 15px;
    font-size: 25px;
    color: rgb(108, 115, 118);
}
.input-msg {
    flex-basis: 50%;
    flex-grow: 1;
    margin: 10px 0;
    border-radius: 5px;
    padding-left: 15px;
}
