<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/gif" href="./img/logo4.png" />
    <title>BoolzApp</title>
</head>

<body>
    <div id="app">
        <div class="container main-container">
            <div class="row">
                <div class="col-5 p-0">
                    <div class="aside-menu">

                        <!-- Info User -->
                        <div class="info-user d-flex align-items-center">

                            <img class="round-img" src="./img/avatar_io.jpg" alt="">
                            <h5 class="name-user">Mariapia</h5>
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>

                        </div>

                        <!-- Notifications  -->
                        <div class="notifications d-flex align-items-center ">
                            <i class="fas fa-bell-slash"></i>
                            <div>
                                <h5>Ricevi notifiche di nuovi messaggi</h5>
                                <span class="text-custom"> Attiva notifiche desktop</span>
                            </div>
                        </div>

                        <!-- Search/Input  -->
                        <div class="search-container">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="Cerca o inizia una nuova chat"
                            v-model="filter" @keyup.enter="filteredContacts()" >
                        </div>

                        <!-- Contacts List -->
                        <div class="contacts-container">
                            <div class="contact-content" v-if="printContacts()" v-for="(contact,index) in contacts"
                            @click="changeUser(index)">

                                <img :src="createSrc(contact)" class="round-img" alt="">
                                <h5>{{contact.name}}</h5>

                            </div>

                            <!-- con l'else non funziona, senza si -->
                            <!-- non ho capito perchè -->

                            <div class="contact-content" v-for="(contact,index) in newContacts"
                            @click="changeUser(index)">

                                <img :src="createSrc(contact)" class="round-img" alt="">
                                <h5>{{contact.name}}</h5>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-7 p-0 ">
                    <div class="main-menu">

                        <!-- Info Contact  -->
                        <div class="info-contact d-flex align-items-center">
                            <img class="round-img" src="./img/avatar_io.jpg" alt="">
                            <div class="info-contact-content">
                                <h5>Nome</h5>
                                <span class="text-custom">Ultimo accesso oggi alle</span>
                            </div>
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                        <!-- Chat -->
                        <div class="chat">

                            <div v-if="printContacts()" v-for="(message,index) in contacts[currentUser].messages">
                                <div class="row" v-if="isASentMsg(message.status)">
                                    <div class="col-10 offset-2">
                                        <div class="mgs-container-sent">
                                            <div class="sent">
                                                <div>{{message.text}}</div>
                                                <div class="data-msg">{{message.date}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" v-else>
                                    <div class="col-10">
                                        <div class="mgs-container-received">
                                            <div class="received">
                                                <div>{{message.text}}</div>
                                                <div class="data-msg">{{message.date}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- non funziona la lettura dei nuovi messaggi, ovvero il cambio -->
                            <!-- indice-> contatto-> mesaggi -->

                            <div v-else v-for="(message,index) in newContacts[currentUser].messages">
                                <div class="row" v-if="isASentMsg(message.status)">
                                    <div class="col-10 offset-2">
                                        <div class="mgs-container-sent">
                                            <div class="sent">
                                                <div>{{message.text}}</div>
                                                <div class="data-msg">{{message.date}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" v-else>
                                    <div class="col-10">
                                        <div class="mgs-container-received">
                                            <div class="received">
                                                <div>{{message.text}}</div>
                                                <div class="data-msg">{{message.date}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Input & Icons -->
                        <div class="input-msg-container d-flex">
                            <i class="far fa-smile"></i>
                            <input class="input-msg" type="text" 
                            v-model="inputMsg.text"
                            placeholder="Scrivi un messaggio"
                            @keyup.enter="sendAMessage(currentUser)"
                            >
                            <i class="fas fa-microphone"></i>

                        </div>

                    </div>


                </div>
            </div>
        </div>






    </div>
    <script src="./js/script.js"></script>

</body>

</html>